.about-container {
  padding: 50px 20px;
  background-color: transparent;
  /* background: linear-gradient(135deg, #818181, #4c4c4c); */
  color: #fff;
  text-align: center;
  font-family: 'Arial', sans-serif;
  animation: fadeIn 2s ease-in-out;
}

.about-header {
  margin-bottom: 30px;
}

.about-title {
  font-size: 3rem;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #4473ff, #1397e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-subtitle {
  font-size: 1.5rem;
  color: #cfd8dc;
  margin-top: 10px;
}

.about-text p {
  margin: 20px 0;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.8;
}

.skills-section {
  border-radius: 50px;
  margin-top: 40px;
}

.skills-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.about-extra {
  margin-top: 50px;
}

.about-extra h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 15px;
}

.about-extra p{
  color: #ffffff;
  font-weight:bold;
}

.cta-section {
  margin-top: 40px;
}

.cta-button {
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  margin: 10px;
  background: linear-gradient(45deg, #ff512f, #dd2476);
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .cta-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
  }

  .cta-button {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
}