html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  /* background: #1e1e1e; */
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

.projects-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.projects-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.projects-subtitle {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #ccc;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  justify-items: center;
}

.project-card {
  /* background: #2e2e2e; */
  border-radius: 12px;
  padding: 25px 20px;
  width: 100%;
  max-width: 350px;
  /* min-height: 240px; */
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  /* color: #fff; */
  color: #00d9ff;
  font-weight: bold;
}

.project-description {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 15px;
}

.project-link {
  color: #ff4c4c;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .projects-title {
    font-size: 2.2rem;
  }

  .project-card {
    padding: 10px 15px;
  }
}