.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: transparent;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
}

.hero-image {
  flex: 0.5;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 70%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.hero-image img:hover {
  transform: scale(1.05);
}

.hero-content {
  flex: 1;
  padding: 0 2rem;
  animation: fadeIn 1.5s ease-in-out;
}

.hero-content h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(45deg, #8917b9, #1f75cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content p {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  animation: fadeIn 2s ease-in-out;
}

.red-text {
  color: #e74c3c;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    height: auto;
    padding-bottom: 2rem;
  }

  .hero-image {
    width: 100%;
    margin-bottom: 2rem;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}